/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body {
  margin:0;
  padding:0;
  font-family:'Raleway', sans-serif;
  color:white;
}

/* BARRA NAVEGACION */

nav{
  float: right; /*desplaza el nav a la der */
    
}
.nav-bar{
  background-color: #E54E79;
  width:100%;
  position: fixed; 
  z-index:100;  
  padding: 40px;
  
}

.logo{
  position: absolute;
  z-index: 100;
  left: 80px;
  top: 0;
  width: 70px;
  height: 70px;
  padding: 0.4% 2%;
  text-align: left;
  background-position: 70% 50%;
  background-image: url('../img/logo-white.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

nav ul {
  list-style: none;
  position: absolute;
  overflow: hidden;/*limpia errores de float*/
  margin: 0;
  padding: 0;
  top: 0;
  right: 100px;
  
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

nav li a:hover{
  background-color: #E56385;
}

.header {
  background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  position: relative;
  display: block;
  padding:350px 0;
}

/* PLAY WITH LYFT */

.playLyft{
  background-color: #00B2A9;
  padding: 220px 0;
}

.title-caps{
  background-color: #EDE9E2;
  text-align: center;
}

.playLyft .title-caps{
  color: #75726C;
  position:relative;
  font-size: 26px;
  bottom: 200px;
}

/* FOOTER */

.footer1{
  background-color: #807D78;
  width:100%;
  padding: 5px 40px;
}

.more-links ul li a{
  text-decoration: none;
  color:white;

}


.footer2{
  background-color: #75726C;
  width:100%;
  padding: 5px 40px;
}
