/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body {
	margin:0;
	padding:0;
	font-family:'Raleway', sans-serif;
}

header{
	background-color: #E54E79;
	width:100%;
	position: fixed; 
	z-index:100;
}

nav{
	float: right;  
		
}

nav ul{
	list-style:none;
	margin: 0;
	padding: 0;
	overflow: hidden;	
}

nav ul li{
	display: inline-block;
	float: left;
}

nav ul li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 25px;
	text-decoration: none;
}

.logo {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 150px;
}
.home-pic{
	background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
	padding: 0 50px 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    display: block;
}


footer{
	background-color: #75726C;
	width:100%;
	padding: 5px 40px;
}
p { 
	color:whitesmoke;
 }