/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/

body {
  margin:0;
  padding:0;
  font-family:'Raleway', sans-serif;
  color:white;
}

.container{
  width: 100%;/*para hacerlo responsive junto a etiqueta en HTML*/ 
  margin:0 auto;
  overflow: hidden;
}
/* BARRA NAVEGACION */

nav{
  float: right; /*desplaza el nav a la der */
    
}
.nav-bar{
  background-color: #E54E79;
  width:100%;
  position: fixed; 
  z-index:100;  
  padding: 40px;
  
}

.logo{
  position: absolute;
  z-index: 100;
  left: 80px;
  top: 0;
  width: 70px;
  height: 70px;
  padding: 0.4% 2%;
  text-align: left;
  background-position: 70% 50%;
  background-image: url('../img/logo-white.png');
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

nav ul {
  list-style: none;
  position: absolute;
  overflow: hidden;/*limpia errores de float*/
  margin: 0;
  padding: 0;
  top: 0;
  right: 100px;
  
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

nav li a:hover{
  background-color: #E56385;
}
/* HEADER */

.header {
  background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  position: relative;
  display: block;
  padding:350px 0;
}
/* BECOME A DRIVER BOX */

.driver-form{
  width:40%;
  height:70%;
  padding: 50px 10px;
  position:relative;
  left: 60%;
  color:#040403;
  background-color: #EDE9E2;
  top: 100px;
  font-weight: lighter;
  

}
.driver-form h1{
  color:#00B2A9;
  text-align:center;

}
.button-driver{
  color: whitesmoke;
  width: 240px;
  height: 45px;
  font-size: 16px;
  font-weight: lighter;
  background-color: #E54E79;
  border-color: transparent;
  border-radius: 16px;
  position: relative;
  top: 20px;
  margin-bottom: 40px;

}

.phone{
  background-color: #EDE9E2;
  position: relative;
  border: none;
  top: 10px;
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
  font-size: 14px;
}


/* PLAY WITH LYFT */

.playLyft{
  background-color: #00B2A9;
  padding: 220px 0;
}

.title-caps{
  background-color: #EDE9E2;
  text-align: center;
}

.playLyft .title-caps{
  color: #75726C;
  position:relative;
  font-size: 26px;
  bottom: 200px;
}

/* FOOTER */

.footer1{
  background-color: #807D78;
  width:100%;
  padding: 5px 40px;
}

.follow-me{
  position: relative;
  bottom: -60px;
  left: 20%;

}

.more-links {
  position: relative;
  bottom: 70px;
  left: 60%;
}

.more-links ul li a{
  text-decoration: none;
  color:white;

}


.footer2{
  background-color: #75726C;
  width:100%;
  padding: 5px 40px;
}